/* CSS declarations go here */
#main {
  height: 90vh;
  position: relative;
}

#main h2{
  position: relative;
  text-align: center;
  top: 12.5%;
}

#input {
  position: absolute;
  top: 25%;
}

#lanes-main {
  height: 90vh;
  position: relative;
}

#lanes-main h2{
  position: relative;
  text-align: center;
  top: 10%;
}

#lanes-input {
  position: absolute;
  top: 15%;
  padding-left: 0;
  padding-right: 0;
}

.panel {
  position: relative;
  top: 20%;
}

#instructions-main {
  height: 90vh;
  position: relative;
}

#instructions-main h2{
  position: relative;
  text-align: center;
  top: 5%;
}

#instructions {
  text-align: left;
  position: relative;
  top: 10%;
}

.manual-update {
  margin-bottom: 5%;
}

.dropdown > div > div[class$="-menu"] {
  margin-top: 0;
}

.dropdown > div[class$="-container"] {
  padding: 0;
}

.lanes-table {
  margin-top: 1vh;
}

.table-headers {
  font-weight: bold;
  font-size: 18px;
}

.spacing-top > div {
  margin-top: 4px;
}

.spacing-bot > div {
  margin-bottom: 4px;
}

.lane-name {
  vertical-align: inherit !important;
}